# Python virtual environments
.venv/
venv/
env/
ENV/
.ENV/
.venv.bak/
venv.bak/

# Common custom venv folder names you already used
ml/
ass2/

# Jupyter / Python caches
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log
